
h1, h2{
    text-align: center;
}

html{
    background-color: #4640d9;
}

button{
    background-color:rgb(255, 217, 0);
    width: 200px;
    height: 50px;
    color: black;
    font-weight: bold;
    margin-left: 2%;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}
button:hover, button.active{
    color: black(255, 217, 0, 0.541);
    background-color: rgba(255, 217, 0, 0.541);
    border: 1px solid black;
}